jupyterhub:
  auth:
    admin:
      users:
      - 7c76d04b-2a80-4db1-b985-a2d2fa2f708c
  proxy:
    https:
      enabled: true
      letsencrypt:
        contactEmail: yuvipanda@gmail.com
  singleuser:
    workingDir: /home/jovyan
    storage:
      type: static
      static:
        pvcName: home-nfs
        subPath: "homes/{username}"
    memory:
      guarantee: 512M
      limit: 2G
